html,body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 
    ;
  }
body {
    background-image: url(images/bg1.jpg);
}

html {
    height: 100%
}

h1 {
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    color: #ff7171;
    font-size: 60px!important;
    margin: auto;
}
.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    top-nav
    li{
list-style: none;
text-decoration: none;

    }
}
.top-navlink{
    color: #e86be8;
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 40px!important;
    }
}
.item{
    border-bottom: 1px solid #eb9beb;

}
.right-btn{
    background-color: #ccf;
   
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 1px solid;
}
.menu{
border:1px solid #eb9beb;
}

a {
    font-size: small;
   
    font-weight: 700;
    cursor: pointer;
    text-decoration: solid;
}
.link{
    color: #e86be8!important;
    font-weight: normal;
}

.main-title {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.thick-title {
    font-weight: 700!important;
    color: #ff7171!important;
}

img {
    width: 25px;
    height: 25px;
}


/*new memo*/

.hide {
    display: none;
}

#controls img {
    width: 28px;
    height: 30px;
    background: rgba(0, 0, 0, 0);
}

#controls img:hover,
#controls img:focus {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    position: relative;
}

ul,
li {
    list-style: none;
}

#notes ul {
    overflow: hidden;
    padding: 15px;
}

ul li {
    margin: 15px;
    float: left;
    position: relative;
}


/*divの<ul>*/

ul li div {
    text-decoration: none;
    color: #000;
    background: #feffde;
    display: block;
    height: 200px;
    width: 200px;
    padding: 10px;
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    -webkit-transition: -webkit-transform .15s linear;
    border-style: none;
}

ul li div img {
    padding: 1px 3px;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

ul li textarea {
    font-family: 'Chewy', arial, sans-serif;
    background: rgba(0, 0, 0, 0);
    /* transparent background */
    resize: none;
    padding: 3px;
    border-style: none;
    overflow-y: hidden;
}

.note-title {
    font-size: 140%;
    font-weight: bold;
    height: 30px;
    width: 90%;
}

.note-content {
    font-size: 120%;
    height: 100px;
    width: 95%;
}

#nav_bar ul li:nth-child(even) div {
    transform: none!important;
    -webkit-transform: none;
    -moz-transform: none
}


/*divの<ul>ですが、navbarの<ul>にも反応*/

ul li:nth-child(even) div {
    transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    position: relative;
    top: 5px;
}


/*divの<ul>ですが、navbarの<ul>にも反応*/

ul li:nth-child(3n) div {
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    position: relative;
    top: -5px;
}

ul li:nth-child(5n) div {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    position: relative;
    top: -10px;
}

ul li div:hover,
ul li div:focus {
    -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
}


/* define 3 different colours for the notes */


/*divの<ul>ですが、反応してない*/

ul li div.color1 {
    background: #ffc;
}

ul li div.color2 {
    background: #cfc;
}

ul li div.color3 {
    background: #ccf;
}

.float1 {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 75px;
    background-color: #ccf;
 color: #ff7171;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.float2 {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 10px;
    background-color:#ccf;
color: #30b630;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 5px;
    width: 25px;
    height: 25px;
}

.move_text {
    color: #eb9beb ;
    font-size: larger;
    animation-name: slide;
    animation-duration: 4s;
    animation-iteration-count: 1;
    margin-left: 45%;
}

@keyframes slide {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 45%;
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .move_text {
        margin-left: 25%;
        animation: slide 4s 1;
    }
    @keyframes slide {
        from {
            margin-left: 100%;
            width: 300%;
        }
        to {
            margin-left: 25%;
            width: 100%;
        }
    }
}

.move_text1 {
    color: plum;
    font-size: larger;
    animation-name: slide;
    animation-duration: 4s;
    animation-iteration-count: 1;
    margin-left: 30%;
}

@keyframes slide {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 45%;
        width: 100%;
    }
}

.j_logo1 {
    width: 300px;
    height: auto;
}

.j_webname {
    font-size: 20px;
    font-weight: 600;
}

.j_logo2 {
    width: auto;
    height: auto;
    background-color: #FFF;
}

.roles li {
    margin-top: 7.5px;
    margin-bottom: 0;
    float: none;
    color: blueviolet;
    list-style: disc;
}

.roles a {
    font-style: italic!important;
    color: blueviolet;
    font-weight: bold;
}

.roles a {
    color: #ff7171!important;
}

.btn,
.btn-primary {
    background-color: transparent!important;
    border-color: transparent!important;
}